.env
.env.*
!.env.example
frontend/README.md

.idea/
.vscode/

.DS_Store

app/vendor/
app/node_modules/
frontend/node_modules/

*.log
docker/volumes/*
docker/logs/*

app/storage/*.key
app/storage/logs/
app/bootstrap/cache/