networks:
  app_network:

volumes:
  database_volume:
    driver: local

services:
  nginx:
    image: nginx:1.27-alpine
    ports:
      - "8080:80"
    volumes:
      - ./docker/etc/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app:/var/www:ro
    depends_on:
      - php
    networks:
      - app_network

  php:
    build:
      context: ./docker/etc/php
    volumes:
      - ./app:/var/www
    networks:
      - app_network

  database:
    image: mysql:8.0
    restart: always
    ports:
      - "33061:3306"
    volumes:
      - ./docker/volumes/mysql:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USERNAME}
        MYSQL_PASSWORD: ${DB_PASSWORD}
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./docker/volumes/redis:/data
    networks:
      - app_network